<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RFID_Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RFID_Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RFID_Explorer.Properties.Settings>
            <setting name="maximizeOnStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value />
            </setting>
            <setting name="noTempFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="automaticIndex" serializeAs="String">
                <value>fFalse</value>
            </setting>
            <setting name="confirmExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultView" serializeAs="String">
                <value>Standard View</value>
            </setting>
            <setting name="limitReadCycles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="readCycleLimit" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="macErrorsFileName" serializeAs="String">
                <value>macErrors.config</value>
            </setting>
            <setting name="gpioPinsSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="antennaSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="startupProfileID" serializeAs="String">
                <value />
            </setting>
            <setting name="startupPowerState" serializeAs="String">
                <value />
            </setting>
            <setting name="startupDataFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="startupOperationalMode" serializeAs="String">
                <value />
            </setting>
            <setting name="rfchannelSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="limitSingulations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="singulationLimit" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="startupOperatingRegion" serializeAs="String">
                <value />
            </setting>
            <setting name="startupInventoryAlgorithm" serializeAs="String">
                <value>-1</value>
            </setting>
        </RFID_Explorer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RFID_Explorer.Properties.Settings>
            <setting name="minPowerSetting" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="maxPowerSetting" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="MinimumPreSingulation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaximumPreSingulation" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AvailablePreSingulation" serializeAs="String">
                <value>4</value>
            </setting>
        </RFID_Explorer.Properties.Settings>
    </applicationSettings>
</configuration>