<?xml version="1.0" encoding="utf-8"?>

<!-- $Id: macErrors.config,v 1.26 2010/12/05 05:56:03 dciampi Exp $ -->

<!-- Automatic Generator File: source_macerror.pl (Version 1.4) -->

<!-- Reference File: mac_errors.xml (Version 1.77) -->

<MacErrors>

	<error id="0x0000" name="MACERR_SUCCESS">Command successful with no errors.</error>
	<error id="0x0001" name="CSM_ERR_UNKNOWNCMD">This error is set when an invalid command has been issued to the MTI Firmware. The MTI Firmware performs basic bounds checking on command values.</error>
	<error id="0x0002" name="CSM_ERR_PREEXECPROC">An error occurred during pre-command execution processing. This may happen if the MTI Firmware is unable to transmit a Command-Begin packet to the host.</error>
	<error id="0x0003" name="CSM_ERR_POSTEXECPROC">An error occurred during post-command execution processing. This map happen if the MTI Firmware is unable to flush host TX buffers after the main processing of a given command is complete.</error>
	<error id="0x0004" name="CSM_ERR_BADENGTESTSUBCMD">This is set when an unsupported ENGTEST sub-command has been indicated via the HST_ENGTST_ARG0 register, bits 7:0. FYI - BUG - currently only set if particular engineering test sub-commands have not been compile into the MTI Firmware image. Eventually this will be reported for all invalid sub-command values in HST_ENGTEST_ARG0</error>
	<error id="0x0005" name="CSM_ERR_MBPRDADDR">Set if an invalid / unsupported UHF RFID Transceiver register is detected in the HST_MBP_ADDR after an MBPRDREG command is issued to the MTI Firmware.</error>
	<error id="0x0006" name="CSM_ERR_MBPWRADDR">Set if an invalid / unsupported register is detected in the HST_MBP_ADDR after an MBPWRREG command is issued to the MTI Firmware.</error>
	<error id="0x0007" name="CSM_ERR_SUBSYSINIT_CPU">Set if the CPU module fails to initialize on MTI Firmware boot.</error>
	<error id="0x0008" name="CSM_ERR_SUBSYSINIT_DBG">Set if the Debug module fails to initialize on MTI Firmware boot.</error>
	<error id="0x0009" name="CSM_ERR_SUBSYSINIT_CSM">Set if the Core State Machine fails to initialize on MTI Firmware boot.</error>
	<error id="0x000A" name="CSM_ERR_SUBSYSINIT_OEMCFG">Set if the OEM configuration module fails to initialize on MTI Firmware boot.</error>
	<error id="0x000B" name="CSM_ERR_SUBSYSINIT_HOSTIF">Set of the HOST interface module fails to initialize on MTI Firmware boot.</error>
	<error id="0x000C" name="CSM_ERR_SUBSYSINIT_TILIF">Set if the UHF RFID Transceiver low level interface module fails to initialize on MTI Firmware boot.</error>
	<error id="0x000D" name="CSM_ERR_SUBSYSINIT_BIST">Set if the BIST module fails to initialize on  MTI Firmware boot.</error>
	<error id="0x000F" name="CSM_ERR_SUBSYSINIT_GPIO">Set if the GPIO module fails to initialize on  MTI Firmware boot.</error>
	<error id="0x0010" name="CSM_ERR_SUBSYSINIT_RFTC">Set of the RF Transceiver Control module fails to initialize on MTI Firmware boot.</error>
	<error id="0x0011" name="CSM_ERR_SUBSYSINIT_PROT">Set if the RFID Protocol module(s) fail to initialize on MTI Firmware boot.</error>
	<error id="0x0012" name="CSM_ERR_PROTSCHED_UNKST">Set if the RFID protocol scheduler module detects an unknown state - likely indicates firmware corruption or runtime SRAM corruption by errant code.</error>
	<error id="0x0013" name="CSM_ERR_PROTSCHED_AMBANT">Set if the Antenna configuration dwell time and inventory round count are both zero - which is illegal and ambiguous</error>
	<error id="0x0014" name="CSM_ERR_PROTSCHED_NODESC">Set if the protocol scheduler detects that no logical antennas have been enabled using the HST_ANT_DESC_CFG register bank.</error>
	<error id="0x0015" name="CSM_ERR_PROTSCHED_PORTDEF">Set when a bogus physical antenna port definition value is used - this likely means that the TX and RX port values are not the same - which is required for MTI Development Platform.</error>
	<error id="0x0016" name="CSM_ERR_PROTSCHED_NOFRQCH">Set by the protocol scheduler when no frequency channels have been enabled.</error>
	<error id="0x0017" name="CSM_ERR_PROTSCHED_BADREGION">Set by the protocol scheduler when a bogus regulatory region has been detected in HST_REGULATORY_REGION</error>
	<error id="0x0018" name="CSM_ERR_PROTSCHED_BADFTIME">Set by the protocol schedulers FCC state machine when a bogus FCC frequency hop value has been written to HST_PROTSCH_FTIME, Bank 0 - only 100,200,400 milliseconds are valid values.</error>
	<error id="0x0019" name="CSM_ERR_PROTSCHED_FTUNETO">Not currently set by firmware.</error>
	<error id="0x001A" name="CSM_ERR_SUBSYSINIT_OEMHWOPTS">Set if the OEM hardware-option configuration module fails to initialize on MTI Firmware boot</error>
	<error id="0x001B" name="CSM_ERR_SUBSYSINIT_NVMEMUPD ">Set if the firmware failed to initialize the NV Memory Update module at boot time</error>
	<error id="0x001C" name="CSM_ERR_BAD_RESET_KEY">Set if the firmware CPU module's reset device logic is called with a bogus key. This will generally only happen if the system has experienced a crash and this logic is being called through an invalid call chain - likely due to some sort of corruption.</error>
	<error id="0x001D" name="CSM_ERR_DEV_RESET_FAILED">Set if the device reset logic fails to actually reset the device - likely due to a MCU related hardware failure or system corruption.</error>
	<error id="0x001E" name="CSM_ERR_NVMEMUPD_ABORT_MACERRNO">Set *prior* to entering non volatile memory update mode if the current global MTI Firmware error status is indicating an error. The MAC will not enter non volatile memory update mode if there is currently an error. The host should use the CLRERR command to clear any errors; if this doesn't work the device may need to be manually updated using the recovery method indicated in the MTI Firmware Datasheet.</error>
	<error id="0x001F" name="CSM_ERR_NVMEMUPD_INT_MEMBNDS">Set if an internal memory bounds check fails while in Non volatile memory update mode. If these errors occur the MTI Firmware tries very hard not to update non-volatile memory with bogus data. This error occurs likely due to a system corruption.</error>
	<error id="0x0020" name="CSM_ERR_NVMEMUPD_ENTRYKEY">Set if the non volatile memory mode entry logic detects an invalid key. This would occur if the calling logic erroneously called the non-volatile memory logic due to system corruption / firmware error.</error>
	<error id="0x0021" name="CSM_ERR_NVMEMUPD_NVFLUSH">Set if, during non volatile memory update mode the firmware fails to write flash at the lowest level. This is likely due to flash lock bits being set (i.e. via tools like SAM-BA) or a system corruption.</error>
	<error id="0x0022" name="CSM_ERR_NVMEMUPD_WRVERFAIL">Set if write verification logic fails after writing data at the lowest level to flash. This may indicate problems with MCU device flash hardware. This can occur if the MCU device flash has been updated too many times</error>
	<error id="0x0023" name="CSM_ERR_INVAL_START_CHAN">Set by the protocol scheduler if the HST_RFTC_FRQCH_CMDSTART register has been set to an invalid channel.</error>
	<error id="0x0024" name="CSM_ERR_PROTSCHED_UNK_ALGO">Set by the protocol scheduler if an invalid protocol algorithm has been selected via the HST_INV_CFG register.</error>
	<error id="0x0025" name="CSM_ERR_INVAL_PWRMODE">Set by the core state machine if an invalid power management mode has been specified in the HST_PWRMGMT register</error>
	<error id="0x0026" name="CSM_ERR_PWRMODE_CORRUPT">This is set if a system corruption has occurred and the logic is unable to determine the desired power management mode.</error>
	<error id="0x0027" name="CSM_ERR_NVMEMUPD_TXFAIL">Set if the non volatile memory mode logic fails to transmit a packet to the host during non volatile memory update</error>
	<error id="0x0028" name="CSM_ERR_NVMEMUPD_UPD_BOUNDS">Set during non volatile memory update if the range indicated for updates falls outside the valid non-volatile memory ranges available on the device.</error>
	<error id="0x0029" name="CSM_ERR_NVMEMUPD_UNKNOWN">An unknown error has occurred during non-volatile memory updates - likely a system corruption.</error>
	<error id="0x002A" name="CSM_ERR_NVMEMUPD_RXTO">Set during non volatile memory mode if the firmware does not receive a packet from the host within 60 seconds. This may occur if the host side application has crashed or the physical interface has been removed or corrupted.</error>
	<error id="0x002B" name="CSM_ERR_GPIO_NOTAVAIL">This error code is generated when the host / user attempts to use a GPIO pin that has previously been configured as unavailable in the OEM Configuration Area entry GPIO_AVAIL</error>
	<error id="0x002C" name="CSM_ERR_ANT_NOTAVAIL">This error code is generated when the host / user attempts to use an antenna pin that has previously been configured as unavailable in the OEM Configuration Area entry ANT_AVAIL</error>
	<error id="0x002D" name="CSM_ERR_CMDNOTAVAILABLE">Set by the command processor when a command is invoked from the host, which has been defined, but is not available in the MTI Firmware codebase. This situation can occur if, for instance, a command is disabled by means of a compile-time switch.</error>
	<error id="0x002E" name="CSM_ERR_NOCORDICDEF">Set by the protocol scheduler when no CORDIC values are found in the OEM configuration area. CORDIC values are part of the LBT configuration. See the OEM Configuration Section of the Firmware Datasheet for more details on these settings. Cordic configuration values are only required when LBT is enabled.</error>
	<error id="0x002F" name="CSM_ERR_SUBSYSINIT_DEBUG">Set if the firmware failed to initialize the Debug subsystem at boot time.</error>
	<error id="0x0030" name="CSM_ERR_SUBSYSINIT_TRACE">Set if the firmware failed to initialize the Trace subsystem at boot time.</error>
	<error id="0x0031" name="CSM_ERR_BUILD_TARGET_DEVICE_MISMATCH">Set if the firmware failed the Target Build and Physical Device Check at boot time.</error>
	<error id="0x0032" name="CSM_ERR_DIAGNOSTICS">Set if the firmware failed to properly set MAC Error diagnostic codes.  Actual MAC Error may not correctly be reflected by the MAC Error register.</error>
	<error id="0x0033" name="CSM_ERR_SUBSYSINIT_HOSTIFREGS_INIT">Set if the MAC register default value initialization module fails to initialize on MTI Firmware boot.</error>
	<error id="0x0034" name="CSM_ERR_SUBSYSINIT_HANDSHAKE">Set if the firmware failed to initialize the Handshake interface subsystem at boot time.</error>
	<error id="0x0035" name="CSM_ERR_NVMEMUPD_INVALID_MODE">Set if the HST_NV_UPDATE_CONTROL MAC register had an invalid update_mode set.</error>
  <error id="0x0036" name="CSM_ERR_INVALID_CMD_WHILE_IN_CRIT_ERROR">Set if a Gen2 command is attempted following a critical error during system initialization. Typically caused by a failed OEM read attempt and can usually be resolved by formatting OEM.</error>
  <error id="0x0037" name="CSM_ERR_CRITICAL_ERROR_UNKNOWN">Set if an unknown critical error is detected at the end of system initialization. Typically caused by a failed OEM read attempt and can usually be resolved by formatting OEM.</error>
  <error id="0x0038" name="CSM_ERR_SUBSYSINIT_EMBEDDED_TAGIF">Set if the firmware failed to initialize the embedded tag chip subsystem at boot time.</error>
	<error id="0x0101" name="RESERVED_0x0101">RESERVED</error>
	<error id="0x0102" name="HOSTIF_ERR_USBDESC">Set by the USB interface module when an unsupported descriptor TYPE has been requested by the host (i.e. not a device, string, configuration descriptor type. This may be due to compatibility problems with the USB host.</error>
	<error id="0x0103" name="HOSTIF_ERR_USBDESCIDX">Set by the USB interface module when an unsupported device descriptor index has been requested by the Host.</error>
	<error id="0x0104" name="HOSTIF_ERR_USBTXEP0">Set by the USB interface module when it is unable to transmit the response to a request on USB endpoint 0 (aka control endpoint). This may be due to compatibility or synchronization problems with the USB host.</error>
	<error id="0x0105" name="RESERVED_0x0105">RESERVED</error>
	<error id="0x0106" name="HOSTIF_ERR_USBRXBUFFSZ">Set by the USB interface module when higher level firmware requests an unsupported buffer length. This may be due to a firmware build error or corrupted firmware in flash.</error>
	<error id="0x0107" name="HOSTIF_ERR_RXUNKNOWN">This is set by the Host interface module when the underlying physical interface module returns an unknown error code on receive from the host. This may be due to a firmware build issue, corrupted firmware image or corrupted SRAM due to errant MTI Firmware code.</error>
	<error id="0x0108" name="HOSTIF_ERR_TXUNKNOWN">This is set by the Host interface module when the underlying physical interface module returns an unknown error code on transmit to the Host. This may be due to a firmware build issue, corrupted firmware image or corrupted SRAM due to errant code.</error>
	<error id="0x0109" name="HOSTIF_ERR_BADIFSTATE">This is set when the Host interface code detects that its internal state machine out of sync. This could be due to a corrupted firmware image or corrupted SRAM due to errant MTI Firmware code.</error>
	<error id="0x010A" name="RESERVED_0x010A">RESERVED</error>
	<error id="0x010B" name="HOSTIF_ERR_REGADDR">Set by the host interface module when an invalid MTI Firmware register read or write is attempted (either by the host or internally by the MTI Firmware).</error>
	<error id="0x010C" name="RESERVED_0x010C">RESERVED</error>
	<error id="0x010D" name="HOSTIF_ERR_USBDESCINIT">This is set by the host interface module during initialization if it is unable to retrieve USB descriptors from non-volatile memory (i.e. flash) OEM configuration area. This may be due to a corrupt or unformatted OEM Configuration area. It may also be due to a firmware build issue if the OEM configuration definition is out of sync with the MTI Firmware code.</error>
	<error id="0x010E" name="HOSTIF_ERR_SELECTORBNDS">This is set when the host attempts to *write* a value to a selector type register that is out of range for that selector.</error>
	<error id="0x010F" name="RESERVED_0x010F">RESERVED</error>
	<error id="0x0110" name="HOSTIF_ERR_PKTALIGN">Not currently set by MTI Firmware.</error>
	<error id="0x0111" name="HOSTIF_ERR_BADRAWMODE">Set by the low level host interface logic if an upper level requests an unsupported raw mode. This may occur if the system is corrupted.</error>
	<error id="0x0112" name="HOSTIF_ERR_UNKLNKSTATE">Set by the low level host interface logic if a system corrupt occurs and the link manager can not determine the current link state.</error>
	<error id="0x0113" name="HOSTIF_ERR_UNKUSBSETUP">Set by the low level host interface logic if an unknown / unsupported control command is received from the host. This may occur if the host logic and the MTI Firmware logic are out of sync in terms of the lowest level host interface (UART, USB).</error>
	<error id="0x0114" name="HOSTIF_ERR_UARTRXBUFFSZ">This is set if the upper layer host logic attempts to receive data and the lower layer cannot support the buffer size requested. This will happen if the system is corrupted.</error>
	<error id="0x0115" name="HOSTIF_ERR_RAWMODECTL">Set by the low level host interface logic if a control command is received from the host while in raw mode - which is not allowed. This would happen if the host caused the MTI Firmware to enter non-volatile memory update mode, which uses raw mode, and then the host proceeded to issue control commands.</error>
	<error id="0x0116" name="HOSTIF_ERR_UNKHOSTIF">Set by the host interface module at boot time if the OEM configuration area is specifying an unsupported host interface.</error>
	<error id="0x0117" name="HOSTIF_ERR_UNKREGSTD">Set by the host interface module at boot time if the OEM configuration area is specifying an unsupported regulatory standard.</error>
	<error id="0x0118" name="HOSTIF_ERR_DEBUGID">Set by host interface module if Debug Id is invalid.</error>
	<error id="0x0119" name="HOSTIF_ERR_DEBUGOVERFLOW">Set by host interface module if Debug Buffer overflows.</error>
	<error id="0x011A" name="HOSTIF_ERR_REGREADONLY">Set by the host interface module when a Read-Only MTI Firmware register write is attempted by the host.</error>
	<error id="0x011B" name="HOSTIF_ERR_REGWRITEONLY">Set by the host interface module when an Write Only MTI Firmware register read is attempted by host.</error>
	<error id="0x011C" name="HOSTIF_ERR_BADREGIONINITVALUES">Set by the host interface module if the default region dependent parameters are invalid.</error>
	<error id="0x011D" name="HOSTIF_ERR_INVALIDENGTESTARG">Set by an ENGTEST sub-command with an invalid argument.</error>
	<error id="0x011E" name="HOSTIF_ERR_INVALIDSETFREQARG">Set by Set Frequency Command with an invalid argument.  When this error is set, the result registers will be set to 0xFFFFFFFF.</error>
	<error id="0x011F" name="HOSTIF_ERR_INVALID_RSSI_FILTERING">Set when an invalid Inventory RSSI Filtering configuration has been configured.</error>
	<error id="0x0120" name="HOSTIF_ERR_INVALID_TAGACC_CNT">Set when an invalid HST_TAGACC_CNT value is specified.</error>
	<error id="0x0121" name="HOSTIF_ERR_INVALID_BW_MODE">Set when an invalid BlockWrite mode is specified in HST_IMPINJ_EXTENSIONS.</error>
	<error id="0x0122" name="HOSTIF_ERR_OEM_MAC_REG_INIT_CTRL_ERROR">Set when an invalid MAC Register Initialization pair (Control/Data) is found during the MAC Register initialization.</error>
	<error id="0x0123" name="HOSTIF_ERR_OEM_MAC_REG_INIT_WRITE_ERROR">Set when an invalid MAC Register Initialization write occurs found during the MAC Register initialization.</error>
  <error id="0x0124" name="RESERVED">RESERVED</error>
  <error id="0x0125" name="HOSTIF_ERR_DATAMISMAT">Set when a data-write operation is successful, but the data does not match the data which should be written. This may due to a bit or bits of the memory is locked.</error>
	<error id="0x0200" name="PROTOCOL_ERR_TRUNCATION_UNSUPPORTED">Set by protocol if truncation is set in the Select configuration register, since truncation is unsupported.</error>
	<error id="0x0300" name="RFTC_ERR_BADFRQCHAN">This is set during the PLL lock logic when a bounds check fails while checking the frequency channel configuration registers. </error>
	<error id="0x0301" name="RFTC_ERR_BADHOPMODE">This is set if an unsupported frequency hopping mode is detected - during the PLL lock logic.</error>
	<error id="0x0302" name="RFTC_ERR_PLLFAILEDTOLOCK">This is set if the PLL fails to lock.</error>
	<error id="0x0303" name="RFTC_ERR_XCVRADC_TIMEDOUT">This is set when the RFTC module's AUX ADC function times out waiting for an ADC conversion.</error>
	<error id="0x0304" name="RFTC_ERR_FILTTUNE_TIMEOUT">This is set when the RFTC module times out waiting for UHF RFID Transceiver to indicate RX or TX filter tuning is complete.</error>
	<error id="0x0305" name="RFTC_ERR_AMBIENTTEMPTOOHOT">This is set when the RFTC module detects ambient temperature sensor indicates too hot.</error>
	<error id="0x0306" name="RFTC_ERR_XCVRTEMPTOOHOT">This is set when the RFTC module detects transceiver temperature sensor indicates too hot.</error>
	<error id="0x0307" name="RFTC_ERR_PATEMPTOOHOT">This is set when the RFTC module detects PA temperature sensor indicates too hot.</error>
	<error id="0x0308" name="RFTC_ERR_PADELTATEMPTOOBIG">This is set when the RFTC module detects that the delta between the PA temperature and the ambient temperature is too great.</error>
	<error id="0x0309" name="RFTC_ERR_REVPWRLEVTOOHIGH">This is set when the reverse power level is too high as measured by the configured reverse power level threshold in the register set.</error>
	<error id="0x030A" name="RFTC_ERR_BADIFLNAGAIN">This is set when an incorrect current gain setting is passed into the IFLNA gain adjustment logic. May indicate corrupted code.</error>
	<error id="0x030B" name="RFTC_ERR_TXRF_BIT_FAILED">Returned by RFTC code when errors occur in transmitting a bit over the RF interface</error>
	<error id="0x030C" name="RFTC_ERR_TXRF_BYTE_FAILED">Returned by RFTC code when errors occur in transmitting a buffer of bytes over the RF interface</error>
	<error id="0x030D" name="RFTC_ERR_TXRF_EOT_FAILED">Returned by RFTC code when errors occur in transmitting an "end of transfer" command over the RF interface</error>
	<error id="0x030E" name="RFTC_ERR_TXRF_PREAM_FAILED">Returned by RFTC code when errors occur in transmitting a "preamble" command over the RF interface</error>
	<error id="0x030F" name="RFTC_ERR_TXRF_FSYNC_FAILED">Returned by RFTC code when errors occur in transmitting a "frame-sync" command over the RF interface</error>
	<error id="0x0310" name="RFTC_ERR_RXRF_ISR_TIMEOUT">Indicates that the RF Transceiver failed to set expected ISR bits in a timely fashion. Indicates a failure in either the RFTC state machine logic or in the RF Transceiver state machine logic.</error>
	<error id="0x0311" name="RFTC_ERR_INVALIDLINKPARMS">This is set when invalid link parameters are detected when the filter tuning logic is run.</error>
	<error id="0x0312" name="RFTC_ERR_RXRF_INTERPKTTIMEOUT">This indicates a failure in either the RFTC state machine logic or in the RF Transceiver state machine logic. This error can only occur if the RF Transceiver starts filling its RX FIFO with received data, but fails return the requested number of bits in a timely fashion.</error>
	<error id="0x0313" name="RFTC_ERR_NO_LINKPROFHDR">Not currently in use. May occur in the future when switching between link profiles if some of the required information is not properly coded in the MTI Firmware.</error>
	<error id="0x0314" name="RFTC_ERR_PROFILE_INVALID">This error occurs if the RF Transceiver is being loaded with an invalid profile.</error>
	<error id="0x0315" name="RFTC_ERR_DBMVALOUTOFRANGE">Internal error. The error is the direct result of the MTI Firmware having to do a "dBm to linear" conversion on a dBm measurement that is outside the range of -99dBm through +45dBm. It the unlikely event that this error is encountered, it is probably the result of a faulty RF Peak Detector, a bug in the code that computes the dBm value from the RF Peak Detector ADC reading, or a faulty external PA circuit.</error>
	<error id="0x0316" name="RFTC_ERR_FWDPWRLEVTOOHIGH">If, during RF power-ramping, it is determined that the RF power at the antenna port has momentarily exceeded 35dBm, or has exceeded 33dBm steady-state, this error will be thrown. Encountering this error is often the result attempting to transmit on an open antenna port or in other cases an incorrect calibration of the gross gains. Make sure an antenna is connected on the physical port in use or see MTI Firmware command 0x1B for more information on how to calibrate the system.</error>
	<error id="0x0317" name="RFTC_ERR_NO_GROSSPWRENTRY">Internal error that may occur if memory is corrupted.</error>
	<error id="0x0318" name="RFTC_ERR_TARGETPWRTOOHIGH">Indicates that the target power (in MTI Firmware Virtual Register 0x706) is higher than the maximum allowed output power, which is +33dBm.</error>
	<error id="0x0319" name="RESERVED_0x0318">RESERVED. Deprecated RFTC_ERR_REFVOLT_OUTOFBOUNDS</error>
	<error id="0x031A" name="RFTC_ERR_ANTENNADISCONNECTED">Indicates that the measured value of the antenna-sense resistor (reported in the MTI Firmware Virtual Register 0x703) exceeds the threshold specified (specified in the MTI Firmware Virtual register 0xB12). To determine which antenna was disconnected, the list of enabled antennas will need to be scanned for the one exceeding the threshold (this is done by iterating through all valid selectors in register 0x701 and examining the MAC_ANT_DESC_STAT register at address 0x703.</error>
	<error id="0x031B" name="RFTC_ERR_UNREC_HWOPTFORMAT">Indicates that the OEMCFG's HW_OPTIONS_FORMAT value is not recognized by the RFTC subsystem</error>
	<error id="0x031C" name="RFTC_ERR_HWOPT_BADFWDPWROPT">Indicates that the forward power detection option found in OEMCFG's HW_OPTIONS0 field is not recognized by the RFTC subsystem</error>
	<error id="0x031D" name="RFTC_ERR_HWOPT_BADREVPWROPT">Indicates that the reverse power detection option found in OEMCFG's HW_OPTIONS0 field is not recognized by the RFTC subsystem</error>
	<error id="0x031E" name="RFTC_ERR_HWOPT_BADDRMFILTOPT">Indicates that the DRM Filter option found in OEMCFG's HW_OPTIONS0 field is not recognized by the RFTC subsystem</error>
	<error id="0x031F" name="RFTC_ERR_HWOPT_BADAMBTEMPOPT">Indicates that ambient temperature sensor option found in OEMCFG's HW_OPTIONS0 field is not recognized by the RFTC subsystem</error>
	<error id="0x0320" name="RFTC_ERR_HWOPT_BADPATEMPOPT">Indicates that PA temperature sensor option found in OEMCFG's HW_OPTIONS0 field is not recognized by the RFTC subsystem</error>
	<error id="0x0321" name="RFTC_ERR_HWOPT_BADXCVRTEMPOPT">Indicates that transceiver temperature sensor option found in OEMCFG's HW_OPTIONS0 field is not recognized by the RFTC subsystem</error>
	<error id="0x0322" name="RFTC_ERR_HWOPT_BADANTSENSOPT">Indicates that antenna-sense resistor sensor option found in OEMCFG's HW_OPTIONS0 field is not recognized by the RFTC subsystem</error>
	<error id="0x0323" name="RFTC_ERR_BADIFLNAAGCRANGE">The range specified for the IF LNA AGC gain limits is bad. Either the "min" is higher than the "max", or the min or max setting is incorrect.</error>
	<error id="0x0324" name="RFTC_ERR_LPROFBADSELECTOR">When invoking the CMD_LPROF_RDXCVRREG or CMD_LPROF_WRXCVRREG commands, one of the arguments is the selector of a valid link profile. New link profile selectors cannot be created through these commands, so if a selector outside this range is passed, the RFTC_ERR_LPROFBADSELECTOR error will be generated.</error>
	<error id="0x0325" name="RFTC_ERR_BADXCVRADDR">One of the arguments to the CMD_LPROF_RDXCVRREG or CMD_LPROF_WRXCVRREG commands is the RF transceiver register address to configure. If the address passed is not a valid transceiver address, this error will be thrown. This error is also generated if an invalid transceiver address is detected in an OEM custom profile.</error>
	<error id="0x0326" name="RFTC_ERR_XCVRADDRNOTINLIST">Not all valid transceiver addresses may be configured through the link profiles. The excluded addresses include those registers which are read-only (refer to the transceiver register map), and the indirect address for the R2T command register: 0x0105.</error>
	<error id="0x0327" name="RFTC_ERR_BAD_RFLNA_GAIN_REQ">Set by the RFTC module if an unsupported RFLNA gain level is requested.</error>
	<error id="0x0328" name="RFTC_ERR_BAD_IFLNA_GAIN_REQ">Set by the RFTC module if an unsupported IFLNA gain level is requested.</error>
	<error id="0x0329" name="RFTC_ERR_BAD_AGCMIX_GAIN_REQ">Set by the RFTC module if an unsupported AGC/MIXER gain level is requested.</error>
	<error id="0x032A" name="RFTC_ERR_HWOPT_BADFWDPWRCOMPOPT">Set by the RFTC module if an unsupported compensation option is detected at OEMCFG address 0xA1.</error>
	<error id="0x032B" name="RFTC_ERR_INVALID_PLL_DIVIDER_VALUE">This error is generated if the PLL Divider Value is zero.</error>
	<error id="0x032C" name="RFTC_ERR_SJC_EXTERNALLOTOOLOW">This error is generated if the external LO signal level is below the threshold specified in register HST_RFTC_SJC_EXTERNALLOTHRSH.</error>
	<error id="0x032D" name="RFTC_ERR_SJC_EXTERNALLONOTSELECTED">This error is generated if SJC is enabled, and the LO source is not external.</error>
	<error id="0x032E" name="RFTC_ERR_BADLOSOURCE">This error is generated if the LO source is incorrectly defined in the OEM Config registers.</error>
	<error id="0x032F" name="RFTC_ERR_GENERALRANDOMDATA">This error is generated if there is a general error in the Random Data Transmit function.</error>
	<error id="0x0330" name="RFTC_ERR_XVCR_HEALTH_CHECK_FAIL">This error is generated if there is Transceiver Health check failure and the handler is set to enable Mac Error.  See OEM Config XCVR_HEALTH_CHECK_CFG.</error>
	<error id="0x0331" name="RFTC_ERR_INVALID_OEM_PROFILE_HEADER">This error is generated if the OEM custom profile header is invalid.</error>
	<error id="0x0332" name="RFTC_ERR_AUTO_READ_RX_FIFO">This error is generated if an error during the Auto Read of the Rx FIFO Read is detected.</error>
	<error id="0x0333" name="RFTC_ERR_DC_OFFSET_CALIBRATION">This error is general error generated if an error occurs during the DC Offset Calibration.</error>
	<error id="0x0334" name="RFTC_ERR_LBT_RSSI_CALIBRATION">This error is general error generated if an error occurs during the LBT RSSI Calibration.  If noise floor versus calibration value do not have a significant difference this error will occur.  User should check the injected reference signal for level and frequency.</error>
	<error id="0x0335" name="RFTC_ERR_PA_BIAS_CAL_CONFIG">This error is related to a PA Bias Calibration Configuration error.</error>
	<error id="0x0336" name="RFTC_ERR_FWDPWRLEVERROR">This error is generated when the requested forward power level is not achieved during power ramp.
See HST_ANT_DESC_RFPOWER for the power level requested, MAC_RFTC_PAPWRLEV for the power level achieved, and HST_RFTC_FWDPWRTHRSH for the error threshold.</error>
	<error id="0x0337" name="RFTC_ERR_HWOPT_BADPABIASDACCTL">Indicates that PA Bias DAC Control option found in OEMCFG's HW_OPTIONS2 field is not recognized by the RFTC subsystem.</error>
	<error id="0x0338" name="RFTC_ERR_PA_BIAS_CAL_MEASUREMENT">This error is related to a PA Bias Calibration measurement variation error.</error>
	<error id="0x0339" name="RFTC_ERR_PA_BIAS_CAL_NOT_FOUND">This error is related to a PA Bias Calibration when the target current is not found.</error>
	<error id="0x033A" name="RFTC_ERR_GROSSGAIN_CONFIG_INVALID">This error is generated when the Gross Gain Config Value in the OEM is invalid.  Min index must be less than Max, and Max must be less than the absolute max of 32.</error>
	<error id="0x033B" name="RFTC_ERR_SJC_NOT_AVAILABLE_R500">This error is generated if SJC is enabled with an R500 device.</error>
  <error id="0x0400" name="IO_PERIPHERAL_PROG_ERR">This is set by the CPU module when programing IO wrong or programing other parameters that related to peripheral wrong. This is likely due to errant MAC firmware code.</error>
  <error id="0x0401" name="IO_INVAL_RDMASK">This is set by the CPU support module when an attempt is make to read IO lines not configured for input. This may be due to internal firmware error or the host having incorrectly configured the MTI Development Platform GPIO lines.</error>
	<error id="0x0402" name="IO_INVAL_WRMASK">This is set by the CPU support module when an attempt is make to write IO lines not configured for output. This may be due to internal firmware error or the host having incorrectly configured the MTI Development Platform GPIO lines.</error>
	<error id="0x0403" name="IO_INVAL_PTR_RAM">This is set by the CPU module when a bounds check fails when accessing non-volatile memory - the caller has passed an incorrect RAM address. This is likely due to errant MTI Firmware code.</error>
	<error id="0x0404" name="IO_INVAL_PTR_NV">This is set by the CPU module when a bounds check fails when attempting to read or write to non-volatile memory. This is likely due to errant MTI Firmware code.</error>
	<error id="0x0405" name="IO_INVAL_PTR_NV_ALIGN">This is set by the CPU module when a bounds check fails when attempting to read or write to non-volatile memory. This is likely due to errant MTI Firmware code.</error>
	<error id="0x0406" name="IO_NV_LOCK_ERR">This is set by the CPU module while attempting to write to non-volatile memory (i.e. flash). This is a flash lock error and may be due to corrupted image or misconfigured firmware or hardware problems. If this error is detected by the host, it may which to attempt to read the devices OEM configuration area and save it on the host in order to preserve device specific settings.</error>
	<error id="0x0407" name="IO_NV_PROG_ERR">This is set by the CPU module while attempting to write to non-volatile memory (i.e. flash). This is a low-level flash write error and may be due to misconfigured firmware image, timing problems stemming from board hardware failures, or because the flash has exceeded is limitations for writes. . If this error is detected by the host, it may which to attempt to read the devices OEM configuration area and save it on the host in order to preserve device specific settings.</error>
	<error id="0x0408" name="IO_OEMCFG_ADDR_BOUNDS">This is set by the OEM Configuration module when an OEM configuration Address bounds check fails when accessing the OEM configuration space. This may be due to errant MTI Firmware code or errant Host code.</error>
	<error id="0x0409" name="IO_OEMCFG_NV_BOUNDS">This is set by the OEM Configuration module when a non-volatile memory bounds check fails when accessing the OEM configuration space. This may be due to errant MTI Firmware code or errant Host code.</error>
	<error id="0x040A" name="IO_OEMCFG_FMT_KEY">This is set by the OEM Configuration module's format facility used as the code calling it fails to pass in the correct "format key" argument. This is a failsafe to prevent errant code from inadvertently reformatting flash - due to an invalid branch instruction etc. This will occur when errant code jumps to the format facility incorrectly. </error>
	<error id="0x040B" name="IO_OEMCFG_FLUSH">This is set by the OEM Configuration module when it fails to flush in memory buffers to non-volatile memory. This may be due to misconfigured firmware image, timing problems stemming from board hardware failures, or because the flash has exceeded its limitations for writes. If this error is detected by the host, it may switch to attempt to read the devices OEM configuration area and save it on the host in order to preserve device specific settings.</error>
	<error id="0x040C" name="IO_OEMCFG_FORMAT">This is set by the OEM Configuration module when it fails to detect the correct low level file system headers for the OEM configuration area. This means that the OEM configuration area has not been formatted - due to a misconfigured board or that the OEM Configuration area has become corrupt and should not be trusted without attempting recovery or reconfiguration.</error>
	<error id="0x040D" name="IO_INVAL_IORSVD">This is set by the CPU module when an attempt is made to configure reserved IO pins. This is likely due to a misconfigured firmware build or errant MTI Firmware code.</error>
	<error id="0x040E" name="IO_OEMCFG_STRING_TYPE">This is set by the OEM Configuration module when an invalid string type is selected.</error>
	<error id="0x040F" name="IO_OEMCFG_STRING_LENGTH">This is set by the OEM Configuration module when an invalid string length is entered.</error>
	<error id="0x0410" name="IO_OEMCFG_STRING_CHARACTER">This is set by the OEM Configuration module when an invalid character is entered.</error>
	<error id="0x0411" name="IO_OEMCFG_STRING_CURRENT_INVALID">This is set by the OEM Configuration module when an string read cannot be read correctly since the current string has an invalid header.</error>
	<error id="0x0412" name="IO_OEMCFG_FORMAT_KEY_INVALID">This is set by the OEM Configuration module when the generated key does not match the check key when attempting to format the OEM Configuration space.</error>
	<error id="0x0413" name="IO_OEMCFG_FORMAT_CONFIGURATION_INVALID">This is set by the OEM Configuration module when an invalid format configuration is specified.</error>
	<error id="0x0414" name="IO_INVAL_NV_SECTOR">This is set by the CPU module while attempting to lock or unlock a flash sector, and the specified sector is invalid.</error>
  <error id="0x0415" name="IO_PERIPHERAL_ERR_INVALPWRST">Set by the low level interface logic if, when accessing the peripheral chip, an invalid power state is requested.</error>
  <error id="0x0416" name="IO_PERIPHERAL_ERR_RETRY_TIMEOUT">Indicates that the peripheral chip has run out of time to retry this access operation. This may be due to the peripheral chip is busy.</error>
  <error id="0x0417" name="IO_PERIPHERAL_ERR_TRANSACTION_FAILSAFE">This is set when the CPU module times out waiting for the peripheral chip acknowledges this access. This may due to hardware problems.</error>
	<error id="0x0601" name="TILDENIF_ERR_ADDRMISMAT">This is set by the UHF RFID Transceiver interface module when an UHF RFID Transceiver register read, when configured for Serial port mode, returns the incorrect register address in the serial response frame. This could be due to board or UHF RFID Transceiver hardware problems or errant MTI Firmware code.</error>
	<error id="0x0602" name="TILDENIF_ERR_RDFAILSAFE">This is set by the UHF RFID Transceiver interface module when failsafe logic is activated due to no response from UHF RFID Transceiver. This happens on UHF RFID Transceiver register reads. This could be due to board or UHF RFID Transceiver hardware problems.</error>
	<error id="0x0603" name="TILDENIF_ERR_INVALPWRST">Set by the low level interface logic if, during power management, an invalid power state is requested. This will likely only occur if the system is corrupt.</error>
	<error id="0x0604" name="TILDENIF_ERR_INVALID_SETTING_R500">Set by the low level interface logic if during a write an invalid setting is selected.</error>
	<error id="0x0701" name="BIST_ERR_RF_IO_REG_CHK">This error code is set during firmware boot when the Built In Self Test code is executed. This error indicates that certain register power up defaults on UHF RFID Transceiver were not detected - possibly indicating a hardware problem.</error>
	<error id="0x0702" name="BIST_ERR_RF_REG_BITS">This error code is set during firmware boot when the Built In Self Test code is executed. This error indicates that a walking 1's or walking 0's bus test failed - possibly indicating a hardware problem.</error>

</MacErrors>
